
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Heebo', sans-serif;

  }
  
  .bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-size: 25px;
    background-color: black;
  }
  
  .middle .image{
      width: 80px;
      margin:0px auto;
  }
  .middle .image img{
    width:100%;
    height:100%;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .middle h1{
      
    color: #ffff2a;
  }
  hr {
    margin: auto;
    width: 40%;
  }
  .footer {
      background-color: #000;
      padding:10px 60px;
      color:#fff;
      font-size: 20px;
    
    }
    .ourser{
        background-color: #E9E7E7;

        padding:50px 100px;
    }
    .headone h2{
        color:#000;
        text-align: center;
        font-size: 40px;
        text-decoration: underline;
    }
    .head{
        text-align: center;
    }
    .cards-section{
        margin-top:60px;
        margin-bottom:40px;
        display: flex;
        justify-content: space-between;
    }
    .cards{
        width: 30%;
        transition: transform 1s;
        cursor: pointer;
    }
    .cards .head{
        background-color: #000;
        padding:20px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

    }
    .cards .head h2{
        color:#fff;
        font-size: 24px;
        }
    .cards .text{
        background-color: #fff;
        padding:10px;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        min-height: 170px;

    }
    .cards .text p{
        color:#000;
        font-size: 18px;
    }
    .cards:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.2); 
      }

      @media only screen and (max-width: 767px) {
        .bgimg{
            font-size: 18px;
        }
        .middle{
            text-align: center;
            padding-top: 100px;
            position: initial;
            transform: inherit;
        }
        .ourser{
            padding: 30px;
        }
        .cards-section{
            flex-direction: column;
            margin-top: 30px;
            margin-bottom: 0px;
        }
        .cards{
            width: 100%;
            margin-bottom: 30px;
        }
        .footer{
            padding: 10px 30px;
            font-size: 18px;
        }
        .headone h2{
            font-size: 24px;
            margin:0px;
        }
        .cards .text{
            min-height: auto;
        }
        .cards .head h2{
            margin:0px;
        }
      }